@font-face {
  font-family: 'Urbanist';
  src: url('./fonts/Urbanist.ttf')
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  align-items: center;
  background: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Urbanist', sans-serif;
  height: 450px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  user-select: none;
  z-index: 0;
}

#content {
  height: 350px;
  margin: auto;
  position: relative;
  text-align: center;
  top: -50px;
  z-index: 1;
  width: 95%;
}

h4 {
  margin-bottom: 7px;
  text-align: center;
}

#logoContainer {
  height: 175px;
}

#logoContainer img {
  margin: 25px auto;
  width: 150px;
}

#gamePathInput {
  display: none;
  margin: auto;
  width: 90%;
}

#gamePathInput .button {
  border-radius: 10px;
  background: #00ce8e;
  cursor: pointer;
  margin-top: 5px;
  opacity: 0.8;
  padding: 10px;
  transition: all 0.5s ease;
}

#gamePathInput .button:hover {
  opacity: 1;
}

#gamePathDisplay {
  cursor: pointer;
  margin: auto;
  width: 90%;
}

#currentGamePath, #gamePath {
  background: #7e8085;
  border-radius: 10px;
  color: black;
  font-family: 'Urbanist', sans-serif;
  font-size: 18px;
  margin: auto;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

#gamePath {
  background: white;
}

#attribution {
  font-size: 12px;
  position: relative;
  top: -50px;
}
